---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
---

<footer class="relative flex h-64 items-center justify-center">
  
  

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800" style="opacity: 1">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">RViews</a>. All Rights Reserved.
  </span>
  </div>
</footer>

<div class="absolute inset-0 overflow-hidden opacity-40">
  <HeroImage />
</div>

</footer>
