---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Tired of searching thoroughly for every single product?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    We are the 
    <span class="text-primary">solution</span> to your problem.
       <br /> 
       <br /> 
     Stop wasting your <span class="text-primary
            ">time</span> and <span class="text-primary
            ">money!</span> 
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2"> -->
  <!--   <a -->
  <!--     href="https://docs.astro.build/" -->
  <!--     class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" -->
  <!--   > -->
  <!--     <Icon name="mdi:telescope" class="size-8" /> -->
  <!--     <span>Read the docs</span> -->
  <!--   </a> -->
  <!--   <a -->
  <!--     href="https://astro.new/" -->
  <!--     class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" -->
  <!--   > -->
  <!--     <Icon name="mdi:rocket" class="size-8" /> -->
  <!--     <span>Try it out</span> -->
  <!--   </a> -->
  <!-- </div> -->
</ContentSection>
